@bg-dark: #1d2631;
@bg-grey: #f2f2f2;
@bg-btn: #2aab6d;
@text-color: #283645;
@pink: #d22856;
@tablet-width: ~"(min-width: 660px)";
@desktop-width: ~"(min-width: 960px)";
@retina: ~"((-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi))";
