.advantages {
	background-color: @bg-grey;
	.side-paddings();
	
	&__header {
		padding-top: 40px;
		padding-bottom: 30px;
		.middle_titles();
	}
	
	&__title {
		.small_titles()
	}
	
	&__list {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	&__footer {
		background-image: url("../img/iphone-screen-mobile@1x.png");
		background-position: center;
		background-repeat: no-repeat;
		height: 275px;
	}
}