.advantages {
	background-color: @bg-grey;
}

.advantages__wrapper {
	padding-bottom: 290px;
	padding-top: 48px;
	position: relative;
	.container();
	&::after {
		content: " ";
		position: absolute;
		display: block;
		bottom: 0;
		left: 50%;
		margin-left: -78px;
		width: 156px;
		height: 276px;
		background: url("../img/iphone-screen-mobile@1x.png");
	}
}

.advantages__header {
	padding-top: 10px;
	padding-bottom: 35px;
	background-color: #ffffff;
	.middle_titles();
	text-align: center;
}

.advantages__header p {
	margin: 31px 0;
}

.advantages__title {
	.small_titles()
}

.advantages__list {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	.list();
}

.advantages__item {
	position: relative;
	margin-bottom: 15px;
}

@media @tablet-width {
	.advantages__header {
		padding-top: 18px;
		padding-bottom: 70px;
	}
	.advantages__header p:nth-of-type(1) {
		margin-bottom: 0;
	}
	.advantages__header p:nth-of-type(2) {
		width: 430px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
	.advantages__list {
		text-align: left;
		margin-left: 320px;
	}
	.advantages__wrapper {
		padding-top: 21px;
		padding-bottom: 2px;
		&::after {
			left: 0;
			margin-left: 0;
		}
	}
	.advantages__item {
		margin-bottom: 18px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media @desktop-width {
	.advantages__wrapper {
		padding-top: 260px;
		&::after {
			display: none;
		}
	}
	.advantages__list {
		margin-left: 0;
		flex-direction: row;
		justify-content: space-around;
	}
	.advantages__header {
		padding-top: 35px;
		padding-bottom: 142px;
	}
	.advantages__item {
		display: inline-block;
		vertical-align: top;
		width: 249px;
		margin-right: 83px;
		text-align: center;
		&:last-of-type {
			margin-right: 0;
		}
		&::after {
			content: " ";
			position: absolute;
			display: block;
			top: -330px;
			left: 50%;
			margin-left: -78px;
			width: 156px;
			height: 276px;
			background: url("../img/iphone-screen-mobile@1x.png");
		}
	}
	.advantages__title {
		margin-bottom: 25px;
	}
}
