.buttons {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
	&--download-app {
		width: 95%;
		padding: 15px 0;
		border: 3px solid #ffffff;
		border-radius: 30px;
		margin-bottom: 35px;
	}
}

@media @tablet-width {
	
}

@media @desktop-width {
	.buttons {
		font-size: 21px;
		&--download-app {
			margin-bottom: 65px;
		}
	}
}
