.effect {
	display: none;
}

.effect__title {
	.small_titles()
}

.effect__link {
	.contact-link()
}

.effect__item {
	.clearfix();
}

@media @tablet-width {
	
	.effect {
		display: block;
		padding-top: 90px;
		padding-bottom: 30px;
	}
	
	.effect__item {
		padding-top: 10px;
		&::before{
			content: " ";
			display: block;
			float: left;
			width: 240px;
			height: 275px;
			margin-right: 77px;
			margin-top: -44px;
			background: #000;
			border-radius: 50%;
		}
	}
	
	.effect__title {
		font-size: 30px;
		line-height: 30px;
	}
}

@media @desktop-width {
	
	.effect__item {
		padding-top: 95px;
	}
	
	.effect__item p {
		margin-bottom: 30px;
		margin-top: 24px;
	}
	
	.effect {
		background: @bg-grey;
		padding-top: 30px;
		padding-bottom: 63px;
	}
	
	.effect__item {
		&::before{
			width: 300px;
			height: 348px;
			margin-right: 67px;
			margin-top: -95px;
		}
	}
}
