.form {
	.side-paddings();
	padding-bottom: 20px;
	
	&__intro-text {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	&__fields {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	&__fields--achievements {
		background-color: @bg-grey;
	}
	
	&__fields--apps {
		background-color: @bg-grey;
	}
	
	&__title {
		color: @pink;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
	}
	
	&__text-label {
		color: @pink;
		font-size: 14px;
		line-height: 30px;
		text-transform: uppercase;
	}
	
	&__text-input {
		font-size: 18px;
		line-height: 30px;
	}
	
	&__label {
		font-size: 18px;
		line-height: 30px;
	}
}

