.form {
	.side-paddings();
	padding-bottom: 20px;
}

.form__intro-text {
	padding-top: 50px;
	padding-bottom: 50px;
}

.form__fields {
	padding-top: 25px;
	padding-bottom: 25px;
}

.form__fields--achievements {
	background-color: @bg-grey;
}

.form__fields--apps {
	background-color: @bg-grey;
}

.form__title {
	color: @pink;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.form__text-label {
	color: @pink;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.form__text-input {
	font-size: 18px;
	line-height: 30px;
}

.form__label {
	font-size: 18px;
	line-height: 30px;
}


