.header-back {
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
}

@media @desktop-width {
	.header-back--inner-page {
		background-position: center center;
	}
}
