.intro {
	background-color: @bg-dark;
	.side-paddings();
	color: #fff;
	
	&__title {
		.h2();
	}
	
	&__header {
		height: 460px;
		margin-bottom: 25px;
		background-image: url("../img/bg-back-mobile@1x.jpg");
		background-position: center;
		background-repeat: no-repeat;
	}
	
	&__mockup {
		position: relative;
		height: 286px;
		background-image: url("../img/iphone-hand-mobile@1x.png");
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
	}
	
	&__footer {
		padding-bottom: 30px;
	}
	
}