.intro {
	display: flex;
	flex-direction: column;
	color: #fff;
	z-index: 1;
	background-image: url("../img/iphone-hand-mobile@1x.png");
	background-position: left 85px;
	background-repeat: no-repeat;
}

.intro__title {
	.h2();
}

.intro__info-wrap {
	background-color: @bg-dark;
	text-align: center;
	padding-top: 30px;
	.side-paddings();
}

.intro__available {
	padding-bottom: 17px;
	line-height: 24px;
}

.intro__slogan {
	font-weight: 300;
	min-height: 370px;
	font-size: 0;
	margin: 0 auto 0;
}

@media @tablet-width {
	.intro {
	.container();
	background-position: right bottom;
	}
	
	.intro__info-wrap {
		padding: 0;
	}
	
	.intro__mockup {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	
	.intro__slogan {
		min-height: 130px;
		margin: 0 0 31px 7%;
		width: 38%;
		font-size: 40px;
		text-align: center;
		line-height: 1.2;
	}
	
	.intro__info-wrap {
		flex-grow: 2;
		background: none;
		width: 50%;
		display: flex;
		flex-direction: column;
		margin: 0 0 62px 1.5%;
	}
	
	.intro__available {
		font-size: 18px;
		padding-bottom: 30px;
	}
}

@media @desktop-width {
	.intro {
	.container();
	}
	
	.intro__slogan {
		margin: 0 0 55px 1%;
		width: 31%;
		font-size: 50px;
	}
	
	.intro__info-wrap {
		width: 33%;
		margin: 0 0 60px;
		padding-bottom: 15px;
	}
}
