.main-header {
	width: 100%;
	background-color: fade(#000000, 30%);
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 2;
	&--index {
		margin-bottom: 17px;
	}
	&--mobile {
		position: static;
		background-color: #283645;
		padding-bottom: 0;
	}
}

.main-header_logo {
	display: block;
	float: left;
	width: 75px;
	height: 22px;
}

.main-header__wrapper {
	.clearfix();
}

.main-header__logo-wrapper {
	width: 280px;
	margin: 0 auto;
	.clearfix();
}

.main-header__menu-toggle {
	position: relative;
	float: right;
	width: 50px;
	height: 27px;
	cursor: pointer;
	font-size: 0;
	border: 0;
	background: 0;
	outline: none;
}

.main-header__menu-open {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 4px;
		background-color: #ffffff;
		box-shadow: 0 10px 0 0 #ffffff,
					0 20px 0 0 #ffffff;
	}
	&:hover::before {
		background-color: @pink;
		box-shadow: 0 10px 0 0 @pink,
					0 20px 0 0 @pink;
	}
	&:active::before {
		opacity: 0.3
	}
}

.main-header__menu-close {
	&::before {
		content: "";
		position: absolute;
		top: 12px;
		right: 0;
		width: 30px;
		height: 4px;
		background-color: #ffffff;
		transform: rotate(45deg);
	}
	&::after {
		content: "";
		position: absolute;
		top: 12px;
		right: 0;
		width: 30px;
		height: 4px;
		background-color: #ffffff;
		transform: rotate(-45deg);
	}
	&:hover::before {
		background-color: @pink;
	}
	&:active::before {
		opacity: 0.3
	}
	&:hover::after {
		background-color: @pink;
	}
	&:active::after {
		opacity: 0.3
	}
}

@media @tablet-width {
	.main-header_logo {
		width: 147px;
		height: 40px;
	}
	.main-header__logo-wrapper {
		width: 620px;
	}
	.main-header {
		padding-top: 25px;
		padding-bottom: 30px;
		&--index {
			margin-bottom: 70px;
		}
	}
	.main-header__menu-toggle {
		margin-top: 16px;
	}
	.main-header--mobile {
		padding-bottom: 0;
	}
}

@media @desktop-width {
	.main-header{
		&--index {
			margin-bottom: 93px;
		}
		&--mobile {
			background-color: fade(#000000, 30%);
			padding-bottom: 38px;
		}
	}
	.main-header__wrapper {
		width: 940px;
		margin: 0 auto;
	}
	.main-header__logo-wrapper {
		width: auto;
		float: left;
	}
	.main-header__menu-toggle {
		display: none;
	}
}


