.main-footer {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	
	&--index {
		display: none;
	}
}

.main-footer__logo {
	width: 150px;
	height: 40px;
}

.main-footer__copyrights {
	width: 140px;
	font-size: 14px;
}

.main-footer__developer-logo {
	display: block;
	width: 28px;
	height: 32px;
}

@media @tablet-width {
	
	.main-footer--index {
		display: block;
	}
	
	.main-footer__logo {
		float: left;
	}
	
	.main-footer__copyrights {
		float: right;
	}
}

@media @desktop-width {
	.main-footer__copyrights {
		float: right;
		font-size: 18px;
	}
}
