.main-footer {
	padding-top: 37px;
	padding-bottom: 40px;
	text-align: center;
	&--index {
		display: none;
	}
}

.main-footer__copyrights {
	display: inline-block;
	vertical-align: middle;
	width: 129px;
	font-size: 14px;
	margin-top: 18px;
}

.main-footer__developer-logo {
	float: right;
	width: 28px;
	height: 32px;
}

.main-footer__developer-logo svg {
	fill: @pink;
	&:hover {
		fill: @text-color;
	}
	&:active {
		opacity: 0.3;
	}
}

@media @tablet-width {
	.main-footer {
		padding-top: 33px;
		padding-bottom: 40px;
	}
	.main-footer--index {
		display: block;
	}
	.main-footer__copyrights {
		float: right;
		width: 144px;
		margin-top: 18px;
	}
}

@media @desktop-width {
	.main-footer {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main-footer__copyrights {
		font-size: 18px;
		width: 155px;
		margin-top: 14px;
	}
}
