.markets-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 205px;
	.list();
	margin: 0 auto 21px auto;
}

.markets-list__item {
	background-repeat: no-repeat;
	font-size: 0;
	&--ios {
		width: 48px;
		height: 57px;
		background-image: url("../img/logo-apple.svg");
	}
	&--android {
		width: 43px;
		height: 46px;
		background-image: url("../img/logo-android.svg");
	}
	&--microsoft {
		width: 44px;
		height: 41px;
		background-image: url("../img/logo-microsoft.svg");
	}
}

.markets-list__item a {
	display: block;
	height: 100%;
}

@media @tablet-width {
	.markets-list {
		margin-bottom: 17px;
	}
}

@media @desktop-width {
	.markets-list {
		margin-bottom: 37px;
	}
}
