.photo-post__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 18px 15px 19px;
	background: @bg-grey;
	font-size: 14px;
	line-height: 24px;
	&--panorama {
		flex-direction: row;
		flex-wrap: wrap;
		.container();
		width: 250px;
	}
}

.photo-post{
	display: flex;
	flex-direction: column;
	width: 280px;
	margin-bottom: 22px;
	&--panorama {
		width: 100%;
	}
}

.photo-post__person-name {
	font-weight: bold;
	margin-right: 5px;
}

.photo-post__time {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
}

.photo-post p {
	margin-top: 0;
	margin-bottom: 9px;
}

.photo-post__photo {
	width: 100%;
	display: block;
	height: 180px;
	overflow: hidden;
	text-align: center;
	&--panorama {
		position: relative;
		height: 137px;
	}
}

.photo-post__label-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 280px;
	margin-left: -140px;
}

.photo-post__label {
	position: absolute;
	top: 0;
	right: 0;
	width: 104px;
	display: block;
	background: @pink;
	padding: 6px 18px;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
}

.photo-post__photo {
	&--panorama img {
		max-width: initial;
		position: relative;
		margin-left: 50%;
		left: -160px;
		z-index: -1;
	}
}

@media @tablet-width {
	.photo-post__text {
		flex-grow: 1;
		padding: 24px;
		min-height: 107px;
		&--panorama {
			width: 568px;
			min-height: 10px;
		}
		&--panorama p{
			margin-bottom: 0;
		}
	}
	.photo-post__photo {
		height: 300px;
		&--panorama {
			height: 509px;
		}
		&--panorama .photo-post__time {
			order: 1;
		}
	}
	.photo-post {
		flex-basis: 300px;
		margin-bottom: 20px;
		&--panorama {
			flex-basis: 100%;
			margin-bottom: 52px;
		}
	}
	.photo-post__text--panorama p {
		order: 3;
	}
	.photo-post__photo {
		&--panorama img {
			left: -350px;
		}
	}
	.photo-post__label-container {
		width: 620px;
		margin-left: -310px;
	}
	.photo-post__label {
		top: 58px;
	}
}

@media @desktop-width {
	.photo-post__photo {
		height: 400px;
		&--panorama {
			min-height: 506px;
		}
	}
	.photo-post__text {
		padding: 23px 26px;
		min-height: 110px;
		&--panorama {
			width: 890px;
			min-height: auto;
		}
	}
	.photo-post {
		margin-bottom: 53px;
		&--panorama {
			margin-bottom: 51px;
		}
	}
	.photo-post__photo {
		&--panorama img {
			left: -600px;
		}
	}
	.photo-post__label-container {
		width: 940px;
		margin-left: -470px;
	}
	.photo-post__label {
		top: 55px;
		padding: 3px 18px;
	}
}
