.photo-feed {
	.side-paddings();
}

.photo-feed__header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.photo-feed__list {
	.list();
}

.photo-feed__footer {
	padding-top: 50px;
	padding-bottom: 50px;
}
