.photo-feed__header {
	.container();
	padding-top: 46px;
	padding-bottom: 49px;
	width: 245px;
	text-align: center;
	line-height: 30px;
}

.photo-feed__footer {
	.container();
	padding-top: 17px;
	padding-bottom: 42px;
	width: 300px;
	text-align: center;
	line-height: 30px;
}

.photo-feed__container {
	.container();
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}

@media @tablet-width {
	.photo-feed__header {
		width: 480px;
		font-size: 18px;
		padding-top: 93px;
		padding-bottom: 75px;
	}
	.photo-feed__footer {
		width: 480px;
		font-size: 18px;
		padding-top: 44px;
		padding-bottom: 69px;
	}
}

@media @desktop-width {
	.photo-feed__header {
		width: 630px;
		padding-bottom: 87px;
	}
	.photo-feed__footer {
		width: 630px;
		padding-top: 5px;
	}
}
