.prices {
	padding-top: 65px;
	padding-bottom: 45px;
	background-color: @bg-grey;
	text-transform: uppercase;
}

.prices__head {
	background-color: @bg-dark;
	color: #fff;
	line-height: 30px;
}

.prices__list{
	.list();
}

.prices__package-name {
	font-weight: bold;
	font-size: 18px;
}

.prices__main-price {
	font-weight: 300;
	font-size: 24px;
}

.prices__wrapper {
	.container();
}

@media @desktop-width {
	.prices__toggles {
		display: none;
	}
}
