.prices {
	.side-paddings();
	padding-top: 65px;
	padding-bottom: 45px;
	background-color: @bg-grey;
	text-transform: uppercase;
	
	&__head {
		background-color: @bg-dark;
		color: #fff;
		line-height: 30px;
	}
	
	&__list{
		.list();
	}
	
	&__package-name {
		font-weight: bold;
		font-size: 18px;
	}
	
	&__main-price {
		font-weight: 300;
		font-size: 24px;
	}
}

