.prices {
	padding-top: 60px;
	padding-bottom: 42px;
	background-color: @bg-grey;
	text-transform: uppercase;
}

.prices__wrapper {
	overflow: hidden;
	width: 320px;
	margin: 0 auto;
}

.prices__package-name {
	font-weight: bold;
	font-size: 18px;
}

.prices__main-price {
	font-weight: 300;
	font-size: 24px;
}

.prices__options-table {
	width: 100%;
	border-collapse: collapse;
	transform: translateX(-530px;);
	margin-bottom: 38px;
	background: #ffffff;
}

.prices__table-head {
	background-color: @bg-dark;
	color: #fff;
	line-height: 30px;
	padding: 18px 0;
	text-align: center;
	min-width: 275px;
	&:first-of-type {
		background: @bg-grey;
	}
	
	&--base {
		border-radius: 3px 0 0 3px;
	}
	
	&--unlim {
		border-radius: 0 3px 3px 0;
	}
	
	&--standart {
		position: relative;
		overflow: hidden;
		border-left: 2px solid #f2f2f2;
		border-right: 2px solid #f2f2f2;
	}
	
	&--standart::before {
		content: "хит";
		display: block;
		position: absolute;
		top: -9px;
		left: -5px;
		font-size: 14px;
		font-weight: 0;
		width: 100px;
		background-color: @pink;
		text-align: center;
		transform: rotate(-45deg) translate(-25px, -10px);
	}
}

.prices__option {
	position: relative;
	min-height: 30px;
	min-width: 139px;
	padding: 16px 0 16px 20px;
	background-repeat: no-repeat;
	background-position: right 15px center;
	border: 2px solid #f2f2f2;
	&--ttl {
		visibility: hidden;
	}
	&::before {
		position: absolute;
		top: 15px;
		left: 20px;
		display: inline;
	}
	&--filter::before {
		content: "Розовый фильтр";
	}
	&--smiles::before {
		content: "Смайлики";
	}
	&--comments::before {
		content: "Комментарии";
	}
	&--included {
		background-image: url("../img/icon-yes.svg");
	}
	&--not-included {
		background-image: url("../img/icon-no.svg");
	}
}

.prices__toggles {
	text-align: center;
}

.prices__toggle {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 3px solid @bg-grey;
	background-color: #bec2c7;
	margin-left: 10px;
	&:hover {
		background-color: #7e868f;
	}
	&:active {
		background-color: #e9ebec;
	}
	&--active {
		background: @bg-grey;
		border-color: @text-color;
	}
}


@media @tablet-width {
	.prices {
		padding-top: 34px;
		padding-bottom: 30px;
	}
	.prices__wrapper {
		width: 620px;
		margin: 0 auto;
	}
	.prices__package-name {
		font-size: 16px;
	}
	.prices__main-price {
		font-size: 18px;
	}
	.prices__table-head {
		min-width: 140px;
		padding: 11px 0 5px;
		&--standart::before {
			top: 0px;
			left: 0px;
		}
	}
	.prices__option {
		min-width: 120px;
		padding: 10px 9px 11px 15px;
		background-position: center center;
		&--ttl {
			visibility: visible;
			text-transform: none;
			min-width: 120px;
		}
		&::before {
			display: none;
		}
	}
	.prices__options-table {
		transform: translateX(0px);
	}
	.prices__toggles {
		display: none;
	}
}

@media @desktop-width {
	.prices {
		padding-top: 65px;
		padding-bottom: 58px;
	}
	.prices__wrapper {
		width: 940px;
	}
	.prices__package-name {
		font-size: 18px;
	}
	.prices__main-price {
		font-size: 24px;
	}
	.prices__table-head {
		min-width: 176px;
		padding: 19px 0;
	}
	.prices__option {
		min-width: 157px;
		padding: 14px 0 14px 20px;
	}
}
